#logoLeft {
height:70px;float:left;background-color:#fff;width:70px;margin:10px 10px 0px 10px;padding: 5px;border-radius: 5px;
}
#logoRight {
height:70px;float:right;background-color:#fff;width:70px;margin:10px 10px 0px 10px;padding: 5px;border-radius: 5px;

}
